body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Set color of house */
.color-theme {
  color: #428bca;
}

/* Set link colors */
a:link, a:visited, a:hover { 
    color: #428bca;
    cursor: auto;
}

/* Labels */
a.label-theme {
  color: white;
  background-color: #428bca;
}

.btn-theme {
  color: white;
  background-color: #428bca;
}

/* Margins, etc */

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px; /* or 950px */
}

#morearrow {
  cursor: pointer;
}

#pubhidden {
  margin-top: 5px;
}

#pubButtons {
  margin-top: 5px;
}

#portrait {
  margin-top:25px;
}
