/********************/
/*     Overall      */
/********************/

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* Set various colors */
.color-theme {
  color: #428bca;
}

/* Set link colors */
a:link, a:visited, a:hover { 
    color: #428bca;
    cursor: auto;
}

/* Labels */
a.label-theme {
  color: white;
  background-color: #428bca;
}

.btn-theme {
  color: white;
  background-color: #428bca;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px; /* or 950px */
}

/* Align menu text with icons */
.navbar div .collapse > ul > li > a {
  line-height:24px;
}
.navbar div .collapse > ul > li > a > i,  
.navbar div .navbar-header > a {
  vertical-align:top;
}

/********************/
/*     Main page    */
/********************/

@media (min-width: 768px) {
  #portrait {
    margin-top:25px;
  }
}

/********************/
/* Publication page */
/********************/

#morearrow {
  cursor: pointer;
}

/* Spacing in publications view*/
#pubhidden {
  margin-top: 5px;
}

#pubButtons {
  margin-top: 5px;
}

.pic {
  cursor: pointer;
}

/* Align and change size of icons */
.list-group-item-text i {
  vertical-align:top;
  font-size: 18px;
}

.img-modal {
  max-width: 90%;
  max-height: 90%;
  height: auto;
  width: auto;
}

.pic-modal .modal-content {
  text-align: center;
  box-shadow: none;
  border-radius: 0px;
  background: transparent;
  border-color: transparent;
}

.pic-modal-back {
  opacity: 0.75 !important;
}

