body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.publist {
	display: inline;
}

#author {
	color: #00B7FF;
}

#title {
    font-weight: bold;
}

#source {
	font-style: italic;
}

#pages {

}

#year {

}