<h2>List of publications</h2>

<p ng-show="error" class="bg-danger">No publications found</p>

<div ng-repeat="pub_info in sorted_pubs">

	<h3>{{pub_info.name}}</h3>

	<ul class="list-group">
		<li class="list-group-item " ng-repeat="pub in pub_info.pubs | orderBy: '-Fields.Year'">

			<!-- Add text depending on publication type -->
			<span class="list-group-item-text" ng-switch on="pub.EntryType">
			    <span ng-switch-when="article">
			   		<span class="glyphicon glyphicon-file"></span>
					{{pub.Fields.Author_noand}}, <strong>{{pub.Fields.Title}}</strong>, <em>in {{pub.Fields.Journal}}</em>,<span ng-show="pub.Fields.Pages"> {{pub.Fields.Pages}},</span> {{pub.Fields.Year}} 
				</span>
			    <span ng-switch-when="inproceedings">
   			   		<span class="glyphicon glyphicon-file"></span>
					{{pub.Fields.Author_noand}}, <strong>{{pub.Fields.Title}}</strong>, in <em>{{pub.Fields.Booktitle}}</em>,
				<span ng-show="pub.Fields.Pages">{{pub.Fields.Pages}},</span> 
				{{pub.Fields.Year}}
			    </span>			
			    <span ng-switch-when="mastersthesis">
			   		<span class="glyphicon glyphicon-book"></span>
					{{pub.Fields.Author_noand}}, <strong>{{pub.Fields.Title}}</strong>, <span ng-if="pub.Fields.Type">{{pub.Fields.Type}}</span><span ng-if="!pub.Fields.Type">Master's thesis</span> at <em>{{pub.Fields.School}}</em>, {{pub.Fields.Year}}
			    </span>
			    <span ng-switch-when="phdthesis">
			   		<span class="glyphicon glyphicon-book"></span>
					{{pub.Fields.Author_noand}}, <strong>{{pub.Fields.Title}}</strong>, Ph.D. thesis at <em>{{pub.Fields.School}}</em>, {{pub.Fields.Year}}
			    </span>
				<a id="morearrow" class="glyphicon" ng-class="{'glyphicon-arrow-down': showMore, 'glyphicon-arrow-right': !showMore}" ng-click="showMore = !showMore"></a>
			</span>	

			<div ng-show="showMore" id="pubhidden">
				<span ng-show="pub.Fields.Abstract"><strong>Abstract: </strong>{{pub.Fields.Abstract}}</span>
				<div id="pubButtons">
					<a class="label label-primary" ng-show="pub.Fields.Url" href="{{pub.Fields.Url}}">Link</a> 
					<a class="label label-primary" ng-show="pub.Fields.Slides" href="{{pub.Fields.Slides}}">Slides</a>
					<a class="label label-primary" ng-click="open(pub)">BibTeX</a>
				</div>
			</div>
		</li>
	</ul>

</div>