<h2>List of publications</h2>

<h3>Conference papers</h3>

<ul ng-repeat="pub in pubs.entries | filter: { EntryType: 'inproceedings' } | orderBy: '-Fields.Year'">
<li>
	<p>
		{{pub.Fields.Author}}, <strong>{{pub.Fields.Title}}</strong>, <em>in {{pub.Fields.Booktitle}}</em>,
		<span ng-show="pub.Fields.Pages">{{pub.Fields.Pages}},</span> 
		{{pub.Fields.Year}}
		<a id="morearrow" ng-click="showMore = !showMore">&#10132;</a>
	</p>
	<p ng-show="showMore && pub.Fields.Abstract"><b>Abstract:</b> {{pub.Fields.Abstract}}</p>
	<p ng-show="showMore"><a ng-show="pub.Fields.Url" href="{{pub.Fields.Url}}">Download PDF</a> <a ng-show="pub.Fields.Slides" href="{{pub.Fields.Slides}}">Download slides</a></p>
</li>
</ul>

<h3>Theses</h3>

<ul ng-repeat="pub in pubs.entries | filter: { EntryType: 'mastersthesis' } | orderBy: '-Fields.Year'">
<li>
	<p>
		{{pub.Fields.Author}}, <strong>{{pub.Fields.Title}}</strong>, <em>{{pub.Fields.Type}} at {{pub.Fields.School}}</em>, {{pub.Fields.Year}}
		<a id="morearrow" ng-click="showMore = !showMore">&#10132;</a>
	</p>
	<p ng-show="showMore">{{pub.Fields.Abstract}}</p>

	<p ng-show="showMore"><a ng-show="pub.Fields.Url" href="{{pub.Fields.Url}}">Download PDF</a> <a ng-show="pub.Fields.Slides" href="{{pub.Fields.Slides}}">Download slides</a></p>
</li>
</ul>